.register {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    &__wrapper {
        padding: 44px 64px 44px ;
        display: flex;
        width: 600px;
        height: 650px;
        background-color: #fff;
        align-items: center;
        justify-content: start;
    }
    &__titles {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
	    justify-content: start;
        width: 220px;
        height: 95px; 
        margin-right: auto;
    }
    &__subTitle {
        margin: 0px;
        font-size: 36px;
        line-height: 1;
        font-weight: normal;
    }
    &__title {
        margin: 0px;
        font-size: 46px;
        line-height: 1;
        color:#651fff;
    }
    &__google {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-top: 33px;
        width: 681px;
        height: 78px; 
        background-color: #fff;
        border: none;
        border-radius: 8px; 
        box-shadow:  2px 6px 8px rgba(0, 0, 0, 0.1), -0.5px -0.5px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: box-shadow 0.3s ease;
        &:hover {
            box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.2), -0.5px -0.5px 12px rgba(0, 0, 0, 0.2);
        }
        &:active {
            background-color: #f0f0f0;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1), -0.5px -0.5px 6px rgba(0, 0, 0, 0.1);
        }
        img {
            margin-right: 20px ;
        }
        
    }
    &__line {
        width: 673px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 39px;
        
        span {
            display: block;
            width: 292px;
            height: 0px;
            
            border-top: 1px solid rgb(211, 211, 211);
        }
    }
    &__email{
        margin-top: 36px;
        margin-bottom: 20px;
        &_wrap {
            display: flex;
            align-items: center;
           img {
            margin-right: 10px;
           }
        }
    }
    &__password {
        margin-top: 36px;
        margin-bottom: 20px;
        &_wrap {
            display: flex;
            align-items: center;
           img {
            margin-right: 10px;
            margin-left: 3px; 
           }
        }
        &_label {
            margin-left: 37px;
        }
    }
    &__submit {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
    }
    &__checkbox {
        margin: 24px auto 24px 0;
        display: flex;
        align-items: center;
	    justify-content: center;

    }
    &__Login {
        margin-top: 50px;
        a {
            margin-left: 5px;
            &:active {
                color: #7308ff;

            }
        } 
    }
    
}

.error {
    color: #e53e3e;
    margin-top: 8px;
    margin-left: 40px;
}



