@media (max-width: 1439px) {
    .login {
        &__wrapper {
            padding: 30px 74px 30px ;
            height: 88%;
        }
        &__titles {
            width: 150px;
            height: 70px; 
            margin-left: 20px;
            margin-right:auto;
        }
        &__subTitle {
            font-size: 26px;
        }
        &__title {
            font-size: 36px;
        }
        &__google {
            margin-top: 10px;
            width: 630px;
            height: 60px; 
        }
        &__line {
            margin-top: 10px;
            width: 100%;
            span {
                width: 250px;
                height: 0px;
            }
        }
        &__email{
            margin-top: 20px;
            
            &_wrap {
                width: 630px;
                margin:  0px auto;
                
            }
        }
        &__password {
            margin-top: 20px;
            &_wrap {
                margin: auto;
                width: 630px;
            }
            &_label {
                margin-left: 40px;
            }
        }
        &__checkbox {
            margin: 10px auto 10px 13px;
            display: flex;
            align-items: center;
            justify-content: center;
    
        }
        &__submit {
            width: 630px;
            height: 60px; 
            justify-content: center;
        }
        &__Register {
            margin-top: 20px;
        }
    }
}

@media (max-width: 1200px) { 
    .grid {
        height: calc(100vh - 65px) !important;
    }
    .login {
        &__wrapper {
            padding: 10px 74px 10px;
            max-width: 663px !important;
            height: 98%;
        }
        &__titles {
            margin-left: 0px;
            }
        &__google {
            margin-top: 10px;
            width: 515px;
            height: 50px; 
            margin-right: 200px;
        }
        &__line {
            margin-top: 10px;
            width: 515px;
            span {
                width: 200px;
                height: 0px;
            }
        }
        &__email{
            margin: 10px 200px 5px 0;
            // margin-right: 200px;  
            &_wrap {
                width: 515px; 
                
            }
        }
        &__password {
            margin-top: 10px;
            &_wrap {
                margin-left: -202px;  
                width: 515px; 
            }
            &_label {
                margin-left: -160px;
            }
            &_error {
                margin-left: -160px !important;
            }
        }
        &__checkbox {
            margin-left: 0px;
        }
        &__submit {
            left: -100px;
            width: 515px;
            height: 50px;
        }
        &__Register {
            // margin-top: 20px;
            margin: 20px 200px 0px 0px;
            left: -100px;
        }
    }
}

@media (max-width: 992px) {
    .grid {
        height: calc(100vh - 56px) !important;
    }
    .login {
        &__wrapper {
            padding: 10px 44px 10px;
            max-width: 603px !important;
            height: 95%;
        }
        &__google {
            position: relative;
            margin-right: 0px;
            right: 100px;
        }
        &__line {
            position: relative;
            right: 100px;
        }
        &__email{
            margin: 10px 200px 15px 0;
        
        }
        &__password {
            &_wrap {
                position: relative;
                right: 0px;
            }
            &_label {
                // position: static;
                margin-left: 40px;
            }
            &_error {
                position: relative;
                right: 0px;
            }
            
        }
        &__checkbox {
            position: relative;
            right: 285px;
            margin: 0px;
        }
        &__Register {
            margin-top: 20px;
        }
    }
}

@media (max-width: 768px) {
    .login {
        
        &__wrapper {
            height: 90%;
            padding: 10px 24px 10px;
            max-width: 463px !important;
        }
        &__titles {
            width: 100px;
            height: 45px; 
        }
        &__subTitle {
            font-size: 16px;
        }
        &__title {
            font-size: 26px;
        }
        &__google {
            position: relative;
            right: 0px;
            width: 415px;
        }
        &__line {
            position: relative;
            right: 0px;
            width: 415px;
            span {
                width: 150px;
                height: 0px;
            }
        }
        &__email{
            margin: 10px 0px 10px 0;
            &_wrap {
                position: relative;
                right: 0px;
                width: 415px;
                margin-right: 0px;
            }
            &_error {
                position: relative;
                right: -4px;
            }
        }
        &__password {
            &_wrap {
                position: relative;
                left: 100px;
                width: 415px;
            }
            &_error {
                right: -100px;
            }
            
        }
        &__checkbox {
            position: relative;
            right: 135px;
            margin: 0px;
        }
        &__submit {
            left: 0px;
            width: 415px;
        }
        &__Register {
            margin-top: 20px;
            margin-right: 0;
        }
    }
}

@media (max-width: 576px) {
    .grid {
        height: calc(100vh - 58px) !important;
    }
    .login {
        @media (max-width: 576px) {
            .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
                height: 20px;
                padding: 5px 10px;
                margin-right: 10px;
            }
            .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
                height: 20px;
                padding: 5px 10px;
                margin-right: 10px;
            }
            // Email
            .login__email .MuiFormControl-root .MuiInputLabel-root.Mui-focused {
                transform: translate(17px, -9px) scale(0.75);
            }
              
            .login__email .MuiFormControl-root .MuiInputLabel-root.MuiInputLabel-shrink {
            transform: translate(17px, -9px) scale(0.75);
            }
            
            .login__email .MuiFormControl-root .MuiInputLabel-root.MuiInputLabel-marginDense {
            transform: translate(17px, -9px) scale(0.75);
            }
              
            .login__email .MuiFormControl-root .MuiInputLabel-root {
                transform: translate(13px, 7px) scale(1);
              }
            //   Password
            .MuiFormControl-root .MuiInputLabel-root.Mui-focused {
                transform: translate(5px, -9px) scale(0.75);
              }
              
              .MuiFormControl-root .MuiInputLabel-root.MuiInputLabel-shrink {
                transform: translate(5px, -9px) scale(0.75);
              }
              
              .MuiFormControl-root .MuiInputLabel-root.MuiInputLabel-marginDense {
                transform: translate(5px, -9px) scale(0.75);
              }
              
              .MuiFormControl-root .MuiInputLabel-root {
                transform: translate(0px, 7px) scale(1);
              }
            .MuiInputLabel-root {
                font-size: 12px;
            }
        }
        &__wrapper {
            height: 380px;
        }
        &__titles {
            width: 80px;
            height: 33px; 
        }
        &__subTitle {
            font-size: 12px;
        }
        &__title {
            font-size: 20px;
        }
        &__google {
            right: 0px;
            width: 240px;
            height: 30px;
            font-size: 12px;
            img {
                margin-right: 10px ;
                width: 15px;
                height: 15px;
            }
        }
        &__line {
            font-size: 12px;
            right: 0px;
            width: 240px;
            span {
                width: 100px;
                height: 0px;
            }
        }
        &__email{
            position: relative;
            right: 0px;
            top: 10px;
            margin-bottom: 10px;
            &_wrap {
                right: 0px;
                width: 240px;
                margin-right: 0px;
                
                img {
                    margin-right: 8px;
                    width: 20px;
                    height: 15px;
                   }
            }
            &_error {
                position: relative;
                right: 10px;
                font-size: 12px;
            }
        }
        &__password {
            top: 10px;
            // margin-bottom: 10px;
            // margin-right: 30px;
            &_wrap {
                left: 0px;
                width: 240px;
                margin-right: 0px;
                margin-left: 0px;
                img {
                    margin-left: 0;
                    margin-right: 6px;
                    width: 20px;
                    height: 20px;
                   }
            }
            &_error {
                position: relative;
                right: -190px;
                font-size: 12px;
            }
            
        }
        &__checkbox {
            margin-top: 10px;
            right: 70px;
            font-size: 12px;
        }
        &__submit {
            width: 240px;
            height: 30px;
            font-size: 12px;
        }
        &__Register {
            font-size: 14px;
        }
    }
}